<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1> NYC is located in {{ region_name }}</h1>
    <img height="100px" width="150px" src="{{url}}" alt="nyc">
    <h2>Welcome to my New York</h2>

    <h4>{{region_num}} </h4>
    {% if country == 'USA' %}
      <h1>hello bk</h1>
    {% endif %}


    {{ city[1]}}

    {% for c in city %}
      best city is:{{c}} <br/>
    {% endfor%}

    <br>
    <br>
      {% for item in query_result %}
        {{ item.firstname }} <br>
      {% endfor %}
    <br>
    <br>
    <form action="/showresults" method="POST">
      First name:<br>
      <input type="text" name="firstname" value="Mickey">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="Mouse">
      <br>
      age: <br>
      <input type="number" name="age" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form>


  </body>
</html>
<!-- "http://images.ny-pictures.com/photo2/m/29248_m.jpg" -->
